In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('employee_data.csv')
df

     EName  Age  EstimatedSalary  Purchased
0    Rahul   58            61899          0
1    Karan   34            20939          0
2    Pooja   39            28518          0
3     Riya   49            26027          1
4     Riya   51            47238          1
..     ...  ...              ...        ...
995  Vikas   52            45523          1
996  Sneha   41            99945          0
997   Neha   53            50921          1
998   Neha   39            27543          0
999  Sneha   22            44929          0

[1000 rows x 4 columns]

In [2]:
X=df[['Age','EstimatedSalary']]
y=df['Purchased']

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [ ]:
# without Scaling
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.496

In [ ]:
# with Scaling
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train_scaled=scaler.transform(x_train)

from sklearn.linear_model import LogisticRegression

model1=LogisticRegression()
model1.fit(x_train_scaled,y_train)
x_test_scaled=scaler.transform(x_test)
model1.score(x_test_scaled,y_test)

0.484